start
[
    {
        "id": "c6ec1e778b40bac2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "af2333b90cb56212",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "5f480ab5a9796142",
        "type": "tab",
        "label": "Flow 5",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "993cf66f9dba9170",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "84a1307c599646f5",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e871d208da059bf",
        "type": "twilio-api",
        "name": "Limberth",
        "sid": "AC344c1a4f4026a48522155d26999648b2",
        "from": "+18722334465"
    },
    {
        "id": "f051bb232cc77579",
        "type": "ui_tab",
        "name": "proyecto",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "20de3ab41ccb075d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a6bf7e22d5437b6a",
        "type": "ui_group",
        "name": "IoT-24",
        "tab": "c7ab4569e780f734",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f55c8879ad723a24",
        "type": "telegram bot",
        "botname": "Limberth_iot_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c3e4ccbc9e44cb47",
        "type": "ui_group",
        "name": "IOT_2024_2",
        "tab": "c7ab4569e780f734",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7ab4569e780f734",
        "type": "ui_tab",
        "name": "IoT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "58a8babc0522a043",
        "type": "ui_group",
        "name": "tito--cam",
        "tab": "f051bb232cc77579",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45d4514f3bbb0a31",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab3f401906a8566a",
        "type": "firebase config",
        "firebaseurl": "proyecto-iot-78510-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "089ffb1d2f8b3f5e",
        "type": "inject",
        "z": "c6ec1e778b40bac2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a3ceac1ece9b5d4e",
                "884c22deca70166c"
            ]
        ]
    },
    {
        "id": "ad9814a5c0380e51",
        "type": "join",
        "z": "c6ec1e778b40bac2",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "23f7e33b945f234b"
            ]
        ]
    },
    {
        "id": "23f7e33b945f234b",
        "type": "function",
        "z": "c6ec1e778b40bac2",
        "name": "function 1",
        "func": "var temperatura = msg.payload[0];\nvar humedad = msg.payload[1];\nvar hora = new Date().toLocaleTimeString();\n\nmsg.payload =\"IOT-EMI-HORA \"+ hora + \", La temperatura es de \" + temperatura + \" grados y la humedad es de \" + humedad + \"%, Limberth Flores\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "993862a6573a2baa",
                "8fe7be84bef27b26"
            ]
        ]
    },
    {
        "id": "648b1730d4c9cb9b",
        "type": "ui_gauge",
        "z": "c6ec1e778b40bac2",
        "name": "temperatura",
        "group": "a6bf7e22d5437b6a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "a3ceac1ece9b5d4e",
        "type": "random",
        "z": "c6ec1e778b40bac2",
        "name": "TEMPERATURA",
        "low": 1,
        "high": "25",
        "inte": "true",
        "property": "payload",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "648b1730d4c9cb9b",
                "ad9814a5c0380e51"
            ]
        ]
    },
    {
        "id": "884c22deca70166c",
        "type": "random",
        "z": "c6ec1e778b40bac2",
        "name": "HUMEDAD",
        "low": 1,
        "high": "110",
        "inte": "true",
        "property": "payload",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "5d501d7413270c83",
                "ad9814a5c0380e51"
            ]
        ]
    },
    {
        "id": "5d501d7413270c83",
        "type": "ui_gauge",
        "z": "c6ec1e778b40bac2",
        "name": "humedad",
        "group": "a6bf7e22d5437b6a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "110",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "993862a6573a2baa",
        "type": "debug",
        "z": "c6ec1e778b40bac2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "8fe7be84bef27b26",
        "type": "twilio out",
        "z": "c6ec1e778b40bac2",
        "twilio": "9e871d208da059bf",
        "twilioType": "sms",
        "url": "",
        "number": "+59168534915",
        "name": "limberth",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "2d46ae49510cafc4",
        "type": "inject",
        "z": "af2333b90cb56212",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "96212b035198cce6"
            ]
        ]
    },
    {
        "id": "2f1d3b2c37064f25",
        "type": "function",
        "z": "af2333b90cb56212",
        "name": "function 2",
        "func": "var temperaatura =msg.payload;\nmsg.payload=\"la temperatura es de \" + temperaatura + \"grados, Limberth\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "99a997320dc7aacd"
            ]
        ]
    },
    {
        "id": "99a997320dc7aacd",
        "type": "twilio out",
        "z": "af2333b90cb56212",
        "twilio": "9e871d208da059bf",
        "twilioType": "sms",
        "url": "",
        "number": "+59168534915",
        "name": "limberth",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "140395056b4c74a5",
        "type": "ui_gauge",
        "z": "af2333b90cb56212",
        "name": "temperatura",
        "group": "a6bf7e22d5437b6a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "96212b035198cce6",
        "type": "random",
        "z": "af2333b90cb56212",
        "name": "TEMPERATURA",
        "low": 1,
        "high": "45",
        "inte": "true",
        "property": "payload",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "140395056b4c74a5",
                "2f1d3b2c37064f25"
            ]
        ]
    },
    {
        "id": "1ed54e47b254ac5f",
        "type": "telegram receiver",
        "z": "5f480ab5a9796142",
        "name": "",
        "bot": "f55c8879ad723a24",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "e1e67b53b634bc8d"
            ],
            []
        ]
    },
    {
        "id": "e1e67b53b634bc8d",
        "type": "debug",
        "z": "5f480ab5a9796142",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "dda3cc15987cc35b",
        "type": "telegram reply",
        "z": "5f480ab5a9796142",
        "name": "",
        "bot": "f55c8879ad723a24",
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "65ec3a9a6116f69f",
        "type": "telegram command",
        "z": "5f480ab5a9796142",
        "name": "/humedad",
        "command": "/humedad",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f55c8879ad723a24",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "89239fef8d962534"
            ],
            []
        ]
    },
    {
        "id": "89239fef8d962534",
        "type": "function",
        "z": "5f480ab5a9796142",
        "name": "function 3",
        "func": "var hum = msg.payload[0]; \nif (hum = \"/humedad\")\n{\n    msg.payload = {\n        \"chatId\": \"-4133794132\",\n        \"type\":\"message\",\n        \"content\":\"la humedad es de 70%\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 300,
        "wires": [
            [
                "dda3cc15987cc35b"
            ]
        ]
    },
    {
        "id": "8108a50dfbba2457",
        "type": "inject",
        "z": "993cf66f9dba9170",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "e93fbaabe59c66a1",
                "b7e059cc7b18a078"
            ]
        ]
    },
    {
        "id": "e93fbaabe59c66a1",
        "type": "random",
        "z": "993cf66f9dba9170",
        "name": "Temperatura",
        "low": 1,
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "c438027d5b5538c1",
                "af494d5fe26702b8",
                "ddec5665d4dfe3c5"
            ]
        ]
    },
    {
        "id": "b7e059cc7b18a078",
        "type": "random",
        "z": "993cf66f9dba9170",
        "name": "Humedad",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "80e2a0965b7692cd",
                "af494d5fe26702b8",
                "4514d9cd896d3c9f"
            ]
        ]
    },
    {
        "id": "c438027d5b5538c1",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "80e2a0965b7692cd",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "55da7d569adba0b9",
        "type": "telegram command",
        "z": "993cf66f9dba9170",
        "name": "",
        "command": "/todo",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f55c8879ad723a24",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "72dd4754decfb9fc",
                "a1b2f9733b315cfd"
            ],
            []
        ]
    },
    {
        "id": "cb8ffcdeaae5250d",
        "type": "telegram sender",
        "z": "993cf66f9dba9170",
        "name": "",
        "bot": "f55c8879ad723a24",
        "haserroroutput": false,
        "outputs": 1,
        "x": 730,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "72dd4754decfb9fc",
        "type": "function",
        "z": "993cf66f9dba9170",
        "name": "function 4",
        "func": "var comando = msg.payload;\nvar valor1 = global.get(\"temperatura\");\nvar valor2 = global.get(\"humedad\");\nif (comando = \"/todo\")\nmsg.payload = {\n    \"chatId\": \"-4133794132\",\n    \"type\": \"message\",\n    \"content\": (\"La temperatura es : \" + valor1 + \"°, y la humedad es : \" + valor2+ \" %\")\n}\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n/*\nvar comando = msg.payload[0]\nvar valor1\nvar valor2\nif (comando = \"/humedad\") \n{\n    valor1 = msg.payload[1]\n    valor2 = msg.payload[2]\n    msg.payload = {\n        \"chatId\": \"-4130966742\",\n        \"type\": \"message\",\n        \"content\": \"EL VALOR 1 ES: \" + valor1 + \" Y EL VALOR 2 ES: \" + valor2\n    }\n}\nreturn msg;\n*/\n\n/*var hum = msg.payload[0]\nif(hum=\"/humedad\")\nmsg.payload = {\n    \"chatId\": \"-4130966742\",\n    \"type\": \"message\",\n    \"content\": \"hola humedad\"\n}\nreturn msg;*/\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "cb8ffcdeaae5250d",
                "b07e8e1b79bfe068"
            ]
        ]
    },
    {
        "id": "b07e8e1b79bfe068",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "af494d5fe26702b8",
        "type": "join",
        "z": "993cf66f9dba9170",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "97514961a46ffa22",
                "53957717b7eee075"
            ]
        ]
    },
    {
        "id": "c339fe5c85f88f77",
        "type": "telegram command",
        "z": "993cf66f9dba9170",
        "name": "",
        "command": "/temperatura",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f55c8879ad723a24",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "0da176069d4fb010"
            ],
            []
        ]
    },
    {
        "id": "0da176069d4fb010",
        "type": "function",
        "z": "993cf66f9dba9170",
        "name": "function 8",
        "func": "var comando = msg.payload;\nvar valor1 = global.get(\"temperatura\");\nif (comando = \"/temperatura\")\n    msg.payload = {\n        \"chatId\": \"-4133794132\",\n        \"type\": \"message\",\n        \"content\": (\"La temperatura es : \" + valor1 )\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "fb65193e44918c4b",
                "ee44d383ba938dc2"
            ]
        ]
    },
    {
        "id": "fb65193e44918c4b",
        "type": "telegram sender",
        "z": "993cf66f9dba9170",
        "name": "",
        "bot": "f55c8879ad723a24",
        "haserroroutput": false,
        "outputs": 1,
        "x": 730,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "57172acfb0ef2f59",
        "type": "telegram command",
        "z": "993cf66f9dba9170",
        "name": "",
        "command": "/humedad",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f55c8879ad723a24",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 80,
        "y": 780,
        "wires": [
            [
                "2088173df5ad8ca7"
            ],
            []
        ]
    },
    {
        "id": "feb90b12ee3d9325",
        "type": "telegram sender",
        "z": "993cf66f9dba9170",
        "name": "",
        "bot": "f55c8879ad723a24",
        "haserroroutput": false,
        "outputs": 1,
        "x": 730,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2088173df5ad8ca7",
        "type": "function",
        "z": "993cf66f9dba9170",
        "name": "function 9",
        "func": "var comando = msg.payload;\nvar valor1 = global.get(\"humedad\");\nif (comando = \"/humedad\")\n    msg.payload = {\n        \"chatId\": \"-4133794132\",\n        \"type\": \"message\",\n        \"content\": (\"La humedad es : \" + valor1 )\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 780,
        "wires": [
            [
                "feb90b12ee3d9325",
                "7d0ae7daa655b267"
            ]
        ]
    },
    {
        "id": "ee44d383ba938dc2",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "7d0ae7daa655b267",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "ddec5665d4dfe3c5",
        "type": "ui_gauge",
        "z": "993cf66f9dba9170",
        "name": "",
        "group": "c3e4ccbc9e44cb47",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "4514d9cd896d3c9f",
        "type": "ui_gauge",
        "z": "993cf66f9dba9170",
        "name": "",
        "group": "c3e4ccbc9e44cb47",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "4dd8dd4403c44129",
        "type": "telegram command",
        "z": "993cf66f9dba9170",
        "name": "",
        "command": "/camara",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f55c8879ad723a24",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 80,
        "y": 940,
        "wires": [
            [
                "32a02d04a649a4d6"
            ],
            []
        ]
    },
    {
        "id": "97514961a46ffa22",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "1277d7de0ab416ba",
        "type": "telegram sender",
        "z": "993cf66f9dba9170",
        "name": "",
        "bot": "f55c8879ad723a24",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "317985c435545fd9",
        "type": "function",
        "z": "993cf66f9dba9170",
        "name": "function 10",
        "func": "msg.payload = {\n    \"chatId\": \"-4133794132\",\n    \"type\": \"photo\",\n    \"content\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 940,
        "wires": [
            [
                "1277d7de0ab416ba",
                "8a32c0bdfb1fb2f1",
                "e72703a80c72a4db"
            ]
        ]
    },
    {
        "id": "f92e14b44c025599",
        "type": "inject",
        "z": "993cf66f9dba9170",
        "name": "",
        "props": [
            {
                "p": "capture",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 90,
        "y": 880,
        "wires": [
            [
                "45550a99403d4f5b"
            ]
        ]
    },
    {
        "id": "e72703a80c72a4db",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 880,
        "wires": []
    },
    {
        "id": "a1b2f9733b315cfd",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "53957717b7eee075",
        "type": "function",
        "z": "993cf66f9dba9170",
        "name": "function 11",
        "func": "var temperatura = global.set(\"temperatura\",msg.payload[0])\nvar humedad = global.set(\"humedad\",msg.payload[1])\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "32a02d04a649a4d6",
        "type": "function",
        "z": "993cf66f9dba9170",
        "name": "function 12",
        "func": "msg.capture = true\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 940,
        "wires": [
            [
                "45550a99403d4f5b"
            ]
        ]
    },
    {
        "id": "2defeab4e5f13996",
        "type": "debug",
        "z": "993cf66f9dba9170",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 840,
        "wires": []
    },
    {
        "id": "45550a99403d4f5b",
        "type": "ui_webcam",
        "z": "993cf66f9dba9170",
        "name": "",
        "group": "58a8babc0522a043",
        "order": 2,
        "width": 0,
        "height": 5,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": false,
        "showImage": 0,
        "mirror": true,
        "format": "png",
        "x": 340,
        "y": 860,
        "wires": [
            [
                "317985c435545fd9",
                "2defeab4e5f13996"
            ]
        ]
    },
    {
        "id": "8a32c0bdfb1fb2f1",
        "type": "image",
        "z": "993cf66f9dba9170",
        "name": "",
        "width": 160,
        "data": "payload.content",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 700,
        "y": 1020,
        "wires": []
    },
    {
        "id": "fab8f12d97367d66",
        "type": "mqtt in",
        "z": "84a1307c599646f5",
        "name": "traer Datos",
        "topic": "5",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "45d4514f3bbb0a31",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 60,
        "wires": [
            [
                "61424fc79c5d82bf"
            ]
        ]
    },
    {
        "id": "61424fc79c5d82bf",
        "type": "split",
        "z": "84a1307c599646f5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "2a556f46942dea12",
                "22c14c12e16e55f1",
                "5b2cc03421178a08"
            ]
        ]
    },
    {
        "id": "2a556f46942dea12",
        "type": "function",
        "z": "84a1307c599646f5",
        "name": "tempe",
        "func": "// Function node code for message 1\nif (msg.parts.index === 1) {\n    return msg;\n} else {\n    return null; // Return null to discard other split messages\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 20,
        "wires": [
            [
                "3ada1d93f6669bf3",
                "3535fe402a33f1f5"
            ]
        ]
    },
    {
        "id": "22c14c12e16e55f1",
        "type": "function",
        "z": "84a1307c599646f5",
        "name": "hume",
        "func": "// Function node code for message 1\nif (msg.parts.index === 2) {\n    return msg;\n} else {\n    return null; // Return null to discard other split messages\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "cd368654a9212ef2",
                "60e3611dee3a54be"
            ]
        ]
    },
    {
        "id": "3ada1d93f6669bf3",
        "type": "file",
        "z": "84a1307c599646f5",
        "name": "save Temperatura",
        "filename": "D:\\INTERNET DE LAS COSAS\\Segundo Parcial\\apoyoFile.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "cd368654a9212ef2",
        "type": "file",
        "z": "84a1307c599646f5",
        "name": "save Humedad",
        "filename": "D:\\INTERNET DE LAS COSAS\\Segundo Parcial\\apoyoFile2.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a000b776bcc03a98",
        "type": "telegram command",
        "z": "84a1307c599646f5",
        "name": "TEMPERATURA",
        "command": "/tem",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f55c8879ad723a24",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "a1e4d1a41fccd2ad"
            ],
            []
        ]
    },
    {
        "id": "e79f207259f4b38a",
        "type": "telegram command",
        "z": "84a1307c599646f5",
        "name": "HUMEDAD",
        "command": "/hume",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f55c8879ad723a24",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "4628cf7c98780f49"
            ],
            []
        ]
    },
    {
        "id": "a1e4d1a41fccd2ad",
        "type": "file in",
        "z": "84a1307c599646f5",
        "name": "save Temperatura",
        "filename": "D:\\INTERNET DE LAS COSAS\\Segundo Parcial\\apoyoFile.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "6d103bcc45ee8248",
                "187c54f862ccabad"
            ]
        ]
    },
    {
        "id": "4628cf7c98780f49",
        "type": "file in",
        "z": "84a1307c599646f5",
        "name": "save Humedad",
        "filename": "D:\\INTERNET DE LAS COSAS\\Segundo Parcial\\apoyoFile2.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "40547413cddfa175",
                "e23d8a4b12c107db"
            ]
        ]
    },
    {
        "id": "6d103bcc45ee8248",
        "type": "function",
        "z": "84a1307c599646f5",
        "name": "Temperatura",
        "func": "// Function node code to convert text payload to an object for Telegram sender\nvar textPayload = msg.payload; // Assuming msg.payload contains text\n\n// Create an object for the Telegram sender payload\nvar telegramPayload = {\n    chatId: '-4133794132', // Replace with the ID of your Telegram chat\n    type: 'message', // Specify the type of content you are sending (e.g., 'message' for text)\n    content: \"Temperatura: \" + textPayload // Assign the text payload to the 'content' property\n};\n\n// Assign the Telegram payload object to msg.payload\nmsg.payload = telegramPayload;\n\n// Return the modified message object\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "fe246a9b3e78be94"
            ]
        ]
    },
    {
        "id": "40547413cddfa175",
        "type": "function",
        "z": "84a1307c599646f5",
        "name": "Humedad",
        "func": "// Function node code to convert text payload to an object for Telegram sender\nvar textPayload = msg.payload; // Assuming msg.payload contains text\n\n// Create an object for the Telegram sender payload\nvar telegramPayload = {\n    chatId: '-4133794132', // Replace with the ID of your Telegram chat\n    type: 'message', // Specify the type of content you are sending (e.g., 'message' for text)\n    content: \"Humedad: \" + textPayload // Assign the text payload to the 'content' property\n};\n\n// Assign the Telegram payload object to msg.payload\nmsg.payload = telegramPayload;\n\n// Return the modified message object\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "fe246a9b3e78be94"
            ]
        ]
    },
    {
        "id": "fe246a9b3e78be94",
        "type": "telegram sender",
        "z": "84a1307c599646f5",
        "name": "Resiv",
        "bot": "f55c8879ad723a24",
        "haserroroutput": false,
        "outputs": 1,
        "x": 670,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b17ab25e09228611",
        "type": "firebase modify",
        "z": "84a1307c599646f5",
        "name": "DBTemperatura",
        "firebaseconfig": "ab3f401906a8566a",
        "childpath": "clima/temperatura",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 680,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bbf92ce979a55c5e",
        "type": "firebase modify",
        "z": "84a1307c599646f5",
        "name": "DBHumedad",
        "firebaseconfig": "ab3f401906a8566a",
        "childpath": "clima/humedad",
        "method": "update",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 670,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7c2c341ef5d0e348",
        "type": "ui_button",
        "z": "84a1307c599646f5",
        "name": "",
        "group": "a6bf7e22d5437b6a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "BorrarDB",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "2d2ca5448d92d32c",
                "afe0c4c40ad4f547"
            ]
        ]
    },
    {
        "id": "2d2ca5448d92d32c",
        "type": "firebase modify",
        "z": "84a1307c599646f5",
        "name": "BorrarTemp",
        "firebaseconfig": "ab3f401906a8566a",
        "childpath": "clima/temperatura",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 290,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "afe0c4c40ad4f547",
        "type": "firebase modify",
        "z": "84a1307c599646f5",
        "name": "BorrarHume",
        "firebaseconfig": "ab3f401906a8566a",
        "childpath": "clima/humedad",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 290,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5b2cc03421178a08",
        "type": "debug",
        "z": "84a1307c599646f5",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "e23d8a4b12c107db",
        "type": "function",
        "z": "84a1307c599646f5",
        "name": "hume",
        "func": "// Function node code to convert text payload to an object for Telegram sender\nvar textPayload = msg.payload; // Assuming msg.payload contains text\n\n// Create an object for the Telegram sender payload\nvar telegramPayload = {\n       hume: textPayload // Assign the text payload to the 'content' property\n};\n\n// Assign the Telegram payload object to msg.payload\nmsg.payload = telegramPayload;\n\n// Return the modified message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "bbf92ce979a55c5e"
            ]
        ]
    },
    {
        "id": "187c54f862ccabad",
        "type": "function",
        "z": "84a1307c599646f5",
        "name": "tempe",
        "func": "// Function node code to convert text payload to an object for Telegram sender\nvar textPayload = msg.payload; // Assuming msg.payload contains text\n\n// Create an object for the Telegram sender payload\nvar telegramPayload = {\n       tempe: textPayload // Assign the text payload to the 'content' property\n};\n\n// Assign the Telegram payload object to msg.payload\nmsg.payload = telegramPayload;\n\n// Return the modified message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 200,
        "wires": [
            [
                "b17ab25e09228611"
            ]
        ]
    },
    {
        "id": "3535fe402a33f1f5",
        "type": "ui_gauge",
        "z": "84a1307c599646f5",
        "name": "",
        "group": "a6bf7e22d5437b6a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "60e3611dee3a54be",
        "type": "ui_gauge",
        "z": "84a1307c599646f5",
        "name": "",
        "group": "a6bf7e22d5437b6a",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humedad",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 140,
        "wires": []
    }
]